<main class="login-page">
  <div class="login-container">
    <img
      src="assets/images/cover.png"
      loading="lazy"
      alt="Background image"
      class="background-image"
    />
    <img
      src="assets/images/Stanbic.png"
      loading="lazy"
      alt="Company logo"
      class="company-logo"
    />
    <div class="content-wrapper">
      <section class="title-section">
        <h1 class="portal-title">
          <span class="welcome-one">Welcome to the</span> <br /><span class="christmas">CHRISTMAS CARD <br>PORTAL</span>
        </h1>
        <img
          src="assets/images/deco.png"
          loading="lazy"
          alt="Christmas decoration"
          class="christmas-decoration"
        />
      </section>
      <section class="login-form-section">
        <h1 class="welcome-text">Welcome</h1>
        <p class="login-instruction">Please enter your details below to login</p>
        <form class="login-form">
          <div class="form-group">
            <input type="text" class="form-input" placeholder="Email" />
          </div>
          <div class="form-group password-input-wrapper">
            <input type="password" class="form-input" placeholder="Password" />
            <button type="button" class="toggle-password">
              <img src="/assets/images/eye-icon.png" alt="Toggle Password" class="eye-icon" />
            </button>
          </div>
          <button type="submit" class="login-button">Login</button>
          <a href="javascript:void(0);" class="forgot-password">Forgot Password?</a>
        </form>
      </section>
    </div>
  </div>
</main>