<div class="home-container">
  <div class="background-image"></div>
  <nav class="nav-links">
    <a href="/login">Home</a>
    <a href="/portal">Uploads</a>
    <a href="/add-new">Add New</a>
    <a href="/upload-container">Upload Container</a>
    <a href="/preview">Preview</a>
    <a href="/success-container">Upload Success</a>
    <a href="/cancel-uploads">Cancel Uploads</a>
  </nav>
</div>

<button class="navbar-toggle" (click)="toggleNavbar()">
  <img src="/assets/images/Menu.svg" alt="Menu" />
</button>
<ul class="navbar-links" [class.active]="isNavbarOpen">
  <li>
    <a routerLink="/login" routerLinkActive="active-link" (click)="closeNavbar()">Home</a>
  </li>
  <li>
    <a routerLink="/portal" routerLinkActive="active-link" (click)="closeNavbar()">Uploads</a>
  </li>
  <li>
    <a routerLink="/add-new" routerLinkActive="active-link" (click)="closeNavbar()">Add New</a>
  </li>
  <li>
    <a routerLink="/upload-container" routerLinkActive="active-link" (click)="closeNavbar()">Upload Container</a>
  </li>
  <li>
    <a routerLink="/preview" routerLinkActive="active-link" (click)="closeNavbar()">Preview</a>
  </li>
  <li>
    <a routerLink="/success-container" routerLinkActive="active-link" (click)="closeNavbar()">Upload Success</a>
  </li>
  <li>
    <a routerLink="/cancel-uploads" routerLinkActive="active-link" (click)="closeNavbar()">Cancel Uploads</a>
  </li>
</ul>

<router-outlet></router-outlet>